html {
  height:100%;
  width: 100%;
  margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
 border-collapse:separate;
}

body {
  height:100%;
}

.main {
  height: 100%;
 padding: 0;
 border-collapse:separate;
 font-family: 'Roboto Condensed';
}

#featured_images {
  font-size: 2em;
  align: center;
  padding-left: 0%;
  padding-right: 0%;
  padding-top:0%;
  width: 1920;
  height: 1080;
  overflow: visible;
}

#menu_opener_comb {
  width: 1920;
  height: 1080;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url("./images/Collage.jpg") !important;
    background-repeat: repeat;
    background: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

@media (max-width: 1800px) {
  html {
  width: 1920;
  height: 1080;
    margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px
   border-collapse:separate;
  }
  body {
  width: 1920;
  height: 1080;
  }

	#menu_opener_comb {
  width: 1920;
  height: 1080;
	    background-image: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url("./images/Collage.jpg") !important;
	    background-repeat: repeat;
	    background: absolute;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    color: white;
	}
}
*/
