html {
  height:100%;
  width: 100%;
  margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 border-collapse:separate;
}

body {
  height:100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url("./images/Collage.jpg") !important;
  background-repeat: repeat;
  background: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.main {
  height: 100%;
 padding: 0;
 border-collapse:separate;
 font-family: 'Roboto Condensed';
}
