html {
  height:100%;
  width: 100%;
  margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 border-collapse:separate;
}

body {
  height:100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url("./images/Collage.jpg") !important;
  background-repeat: repeat;
  background: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.panel {
  background-size: cover;
  background-image: url("./images/Collage-small.jpg") !important;
  border: 0;
  min-height: 325px;
  min-width: 325px;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.0)!important;
    border: 0;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    transition: .5s ease;
    top: 32.6%;
    left: 35%;
}

.button1 {
padding: 36px 38px;
border-radius: 6px;
}

.main {
  height: 100%;
 padding: 0;
 border-collapse:separate;
 font-family: 'Roboto Condensed';
}